<h1>Tickets</h1>
<table>
    <thead>
    <tr>
        <th>Number</th>
        <th>Date</th>
        <th>Venue</th>
    </tr>
    </thead>
    <tbody>
    {{ range . -}}
    <tr>
        <td>{{ .Id }}</td>
        <td>{{ .Date }}</td>
        <td>{{ .Venue }}</td>
    </tr>
    {{ end -}}
    </tbody>
</table>
