<h1>Tickets</h1>
<table>
    <thead>
    <tr>
        <th>Number</th>
        <th>Date</th>
        <th>Venue</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>10001</td>
        <td>2022-01-01 12:15:00 &#43;0000 UTC</td>
        <td>Oxford Theater</td>
    </tr>
    <tr>
        <td>10002</td>
        <td>2022-01-05 09:10:00 &#43;0000 UTC</td>
        <td>Oxford Theater</td>
    </tr>
    </tbody>
</table>
